Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Fix mobile stretch SE
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/breadcrumbs.tsx
Labels: frontend

Fix redirect
  src/sophronia/next.config.js
Labels: frontend

Fix ETL
  src/berenice/ukbo/etl/extract.py
Labels: backend

Fix sidebar
  src/sophronia/components/ui/sidebar.tsx
Labels: frontend

Fix country fetch
  src/sophronia/lib/fetch/countries.ts
Labels: frontend

Add fetch infinite
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Fix pagination
  src/sophronia/components/ui/pagination.tsx
Labels: frontend

Move fetching
  src/sophronia/lib/fetch/box.ts
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Fix time for day page
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
  src/sophronia/components/charts/stacked-bar.tsx
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/lib/utils/dates.ts
Labels: frontend

Fix time year
  src/sophronia/app/(pages)/time/[year]/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
Labels: frontend

Fix month time
  src/sophronia/app/(pages)/time/[year]/m/[month]/page.tsx
  src/sophronia/lib/utils/dates.ts
Labels: frontend

Fixes for time
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
  src/sophronia/lib/utils/dates.ts
Labels: frontend

Fix quarters time
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
  src/sophronia/components/ui/breadcrumbs-time.tsx
Labels: frontend

Fix q end time
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/page.tsx
  src/sophronia/app/(pages)/time/[year]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/page.tsx
Labels: frontend

Fix admissions 0
  src/sophronia/app/(pages)/time/time.tsx
Labels: frontend

Tidy component
  src/sophronia/app/(pages)/time/time.tsx
Labels: frontend

Fix time breadcrumbs width
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/navigation-menu.tsx
Labels: frontend

Fix pagination type
  src/sophronia/components/ui/pagination.tsx
Labels: frontend

Update api fetching
  src/sophronia/lib/fetch/box.ts
Labels: frontend

Update datepickers
  src/sophronia/components/datepickers.tsx
  src/sophronia/lib/utils/dates.ts
Labels: frontend

Move fetch ssr
  src/sophronia/app/page.tsx
Labels: frontend

Refine page component
  src/sophronia/app/page.tsx
Labels: frontend

Extract components
  src/sophronia/app/page.tsx
  src/sophronia/components/controls.tsx
  src/sophronia/components/score-cards.tsx
Labels: frontend

Fix button controls
  src/sophronia/components/controls.tsx
Labels: frontend

Renaming api
  src/sophronia/lib/fetch/box.ts
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Renamed api
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/page.tsx
  src/sophronia/app/(pages)/time/[year]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Remove swr + ky
  src/sophronia/lib/fetch/api.ts
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Fix cache
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Fix timecomparisondata
  src/sophronia/app/page.tsx
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Add vercel analytics
  src/sophronia/app/layout.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add dashboard skeleton
  src/sophronia/app/loading.tsx
  src/sophronia/app/page.tsx
  src/sophronia/components/score-cards.tsx
Labels: frontend

Add time loading skeleton
  src/sophronia/app/(pages)/time/[year]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/loading.tsx
  src/sophronia/app/(pages)/time/loading.tsx
  src/sophronia/app/(pages)/time/time.tsx
Labels: frontend

Fix mobile breadcrumbs
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/navigation-menu.tsx
Labels: frontend

Fix adddays
  src/sophronia/app/(pages)/forecast/page.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/loading.tsx
  src/sophronia/app/page.tsx
  src/sophronia/components/controls.tsx
  src/sophronia/components/datepickers.tsx
Labels: frontend

Fix days 🤣
  src/sophronia/app/layout.tsx
  src/sophronia/app/page.tsx
Labels: frontend

Add aria
  src/sophronia/app/(pages)/opendata/page.tsx
  src/sophronia/components/controls.tsx
  src/sophronia/components/datasource.tsx
  src/sophronia/components/ui/button.tsx
  src/sophronia/components/ui/export-csv.tsx
Labels: frontend

Add aria
  src/sophronia/components/charts/timeline.tsx
Labels: frontend

Make migrations
  src/berenice/migrations/versions/3e1d353cf71e_film_distributor_null.py
  src/berenice/ukbo/models/Film.py
Labels: migrations, backend

Add distributor checking
  src/berenice/ukbo/etl/load.py
  src/berenice/ukbo/services/week.py
Labels: backend

Limit market share
  src/berenice/ukbo/services/distributor.py
Labels: backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
