Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Update meta search
  src/berenice/ukbo/services/film.py
Labels: backend

Add country filtering
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Update filter layout
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add placeholders
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add sorted facets
  src/berenice/ukbo/services/film.py
Labels: backend

Improve styling
  src/sophronia/styles/globals.css
Labels: frontend

Add min length
  src/berenice/ukbo/api/search.py
  src/sophronia/components/search.tsx
Labels: frontend, backend

Add cn
  src/sophronia/lib/utils/cn.ts
Labels: frontend

Add slider
  src/sophronia/components/ui/slider.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Fix height bug
  src/sophronia/styles/globals.css
Labels: frontend

Add max gross to api
  src/berenice/ukbo/services/film.py
Labels: backend

Safe bo max value
  src/berenice/ukbo/services/film.py
Labels: backend

Add max/min filtering
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Add hide filters
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add collapsible
  src/sophronia/components/ui/collapsible.tsx
Labels: frontend

Add box filters
  src/sophronia/components/search-filters.tsx
  src/sophronia/components/ui/slider.tsx
Labels: frontend

Add icons
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/icons.tsx
  src/sophronia/components/search-filters.tsx
Labels: frontend

Remove imports
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add search pagination
  src/berenice/ukbo/api/search.py
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/ui/pagination.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend, backend

Add year filtering
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Add sorting
  src/berenice/ukbo/api/search.py
  src/berenice/ukbo/services/film.py
  src/berenice/ukbo/services/filters.py
Labels: backend

Add docstring
  src/berenice/ukbo/services/film.py
Labels: backend

Refine parameters
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Fix distributor box office....
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Add slider wrapper helper component
  src/sophronia/components/search-filters.tsx
Labels: frontend

Extract year filters
  src/sophronia/components/search-filters.tsx
Labels: frontend

Extract box office filters
  src/sophronia/components/search-filters.tsx
Labels: frontend

Fix error
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add select
  src/sophronia/components/ui/select.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Extract collapsible
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
Labels: frontend

Change order
  src/sophronia/components/search-filters.tsx
  src/sophronia/components/ui/select.tsx
Labels: frontend

Fix colors
  src/sophronia/components/search-filters.tsx
  src/sophronia/components/ui/select.tsx
Labels: frontend

Update styling
  src/sophronia/components/search-filters.tsx
  src/sophronia/components/ui/button-new.tsx
  src/sophronia/styles/globals.css
Labels: frontend

Fix years
  src/sophronia/components/search-filters.tsx
  src/sophronia/components/ui/button-new.tsx
Labels: frontend

Change sort API
  src/berenice/ukbo/api/search.py
  src/berenice/ukbo/services/film.py
  src/berenice/ukbo/services/filters.py
Labels: backend

Update filters
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Update on load
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add filtermappings
  src/sophronia/components/search-filters.tsx
Labels: frontend

Fix ui
  src/sophronia/components/ui/button-new.tsx
  src/sophronia/components/ui/select.tsx
Labels: frontend

Update icons
  src/sophronia/app/layout.tsx
  src/sophronia/public/icons/1.png
  src/sophronia/public/icons/android-chrome-192x192.png
  src/sophronia/public/icons/android-chrome-512x512.png
  src/sophronia/public/icons/apple-touch-icon-1.png
  src/sophronia/public/icons/apple-touch-icon-2.png
  src/sophronia/public/icons/apple-touch-icon.png
  src/sophronia/public/icons/browserconfig.xml
  src/sophronia/public/icons/favicon-16x16.png
  src/sophronia/public/icons/favicon-32x32.png
  src/sophronia/public/icons/favicon.ico
  src/sophronia/public/icons/icon-192-maskable.png
  src/sophronia/public/icons/icon-192.png
  src/sophronia/public/icons/icon-512-maskable.png
  src/sophronia/public/icons/icon-512.png
  src/sophronia/public/icons/icon.png
  src/sophronia/public/icons/logo.png
  src/sophronia/public/icons/mstile-150x150.png
  src/sophronia/public/icons/safari-pinned-tab.svg
  src/sophronia/public/icons/site.webmanifest
  src/sophronia/public/logo1.svg
  src/sophronia/public/manifest.json
Labels: frontend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
