Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Add footer source
  src/sophronia/src/components/ui/Footer.jsx
Labels: frontend

Add datasource component
  src/sophronia/src/components/Dashboard/Datasource.jsx
Labels: frontend

Add data source button
  src/sophronia/src/components/Dashboard/Skeleton.jsx
  src/sophronia/src/pages/Dashboard.jsx
  src/sophronia/src/pages/Film/Film.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add suspense time page'
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add progress bar
  src/sophronia/src/api/boxoffice.js
  src/sophronia/src/components/ui/ProgressBar.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add documentation API
  src/berenice/ukbo/api/__init__.py
  src/berenice/ukbo/api/boxoffice.py
  src/berenice/ukbo/api/country.py
  src/berenice/ukbo/api/distributor.py
  src/berenice/ukbo/api/film.py
  src/berenice/ukbo/api/root.py
  src/berenice/ukbo/api/search.py
Labels: backend

Add documentation for service layer
  src/berenice/ukbo/api/__init__.py
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/services/__init__.py
  src/berenice/ukbo/services/boxoffice.py
  src/berenice/ukbo/services/country.py
  src/berenice/ukbo/services/distributor.py
  src/berenice/ukbo/services/film.py
  src/berenice/ukbo/services/forecast.py
  src/berenice/ukbo/services/utils.py
Labels: backend

Add ETL documentation
  src/berenice/ukbo/etl/__init__.py
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/load.py
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/etl/transform.py
Labels: backend

Add documentation to models
  src/berenice/ukbo/models/Country.py
  src/berenice/ukbo/models/Distributor.py
  src/berenice/ukbo/models/Film.py
  src/berenice/ukbo/models/Film_Week.py
  src/berenice/ukbo/models/Week.py
  src/berenice/ukbo/models/__init__.py
  src/berenice/ukbo/models/models.py
Labels: backend

Add documentation app
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/extensions.py
  src/berenice/ukbo/settings.py
  src/berenice/ukbo/sitemap.py
Labels: backend

Clean up
  .python-version
  pyproject.toml
  setup.cfg
Labels: maintenance

Add api documentation
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
  src/sophronia/src/api/countries.js
  src/sophronia/src/api/distributors.js
  src/sophronia/src/api/films.js
  src/sophronia/src/api/search.js
Labels: frontend

Add utils documentation
  src/sophronia/src/utils/colorGenerator.js
  src/sophronia/src/utils/groupData.js
  src/sophronia/src/utils/pagination.js
  src/sophronia/src/utils/scrollToTop.js
Labels: frontend

Start page documentation
  src/sophronia/src/pages/Dashboard.jsx
  src/sophronia/src/pages/Search.jsx
Labels: frontend

Add documentation to pages
  src/sophronia/src/pages/Country/Countries.jsx
  src/sophronia/src/pages/Country/Country.jsx
  src/sophronia/src/pages/Distributor/Distributor.jsx
  src/sophronia/src/pages/Distributor/Distributors.jsx
  src/sophronia/src/pages/Film/Film.jsx
  src/sophronia/src/pages/Film/Films.jsx
  src/sophronia/src/pages/Flat/Forecast.jsx
  src/sophronia/src/pages/Flat/TopFilms.jsx
  src/sophronia/src/pages/MarketShare/Distributor.jsx
  src/sophronia/src/pages/Time/All.jsx
  src/sophronia/src/pages/Time/LastWeek.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Document components
  src/sophronia/src/components/Date.jsx
  src/sophronia/src/components/ErrorBoundary.jsx
  src/sophronia/src/components/Layout.jsx
  src/sophronia/src/components/ui/Button.jsx
  src/sophronia/src/components/ui/ButtonGroup.jsx
  src/sophronia/src/components/ui/ExportCSV.jsx
  src/sophronia/src/components/ui/Footer.jsx
  src/sophronia/src/components/ui/PageContent.jsx
  src/sophronia/src/components/ui/PageTitle.jsx
  src/sophronia/src/components/ui/Pagination.jsx
  src/sophronia/src/components/ui/ProgressBar.jsx
  src/sophronia/src/components/ui/Sidebar.jsx
  src/sophronia/src/components/ui/Spinner.jsx
  src/sophronia/src/components/ui/Tabs.jsx
  src/sophronia/src/components/ui/Tooltip.jsx
Labels: frontend

Add components documentation
  .pre-commit-config.yaml
  src/sophronia/src/components/Country/CountryList.jsx
  src/sophronia/src/components/Dashboard/Card.jsx
  src/sophronia/src/components/Dashboard/Datasource.jsx
  src/sophronia/src/components/Dashboard/Datepickers.jsx
  src/sophronia/src/components/Dashboard/LastUpdated.jsx
  src/sophronia/src/components/Dashboard/Skeleton.jsx
  src/sophronia/src/components/Distributor/DistributorList.jsx
  src/sophronia/src/components/Distributor/MarketShareChart.jsx
  src/sophronia/src/components/Distributor/MarketShareTable.jsx
  src/sophronia/src/components/Film/BoxOfficeTable.jsx
  src/sophronia/src/components/Film/FilmTable.jsx
  src/sophronia/src/components/Search/FilmsTable.jsx
  src/sophronia/src/components/Search/Searchbar.jsx
  src/sophronia/src/components/Time/AllTimeChart.jsx
  src/sophronia/src/components/Time/FilmTable.jsx
  src/sophronia/src/components/Time/PreviousTable.jsx
  src/sophronia/src/components/Time/TimeLineChart.jsx
  src/sophronia/src/components/Time/TopFilmsTable.jsx
  src/sophronia/src/components/Time/WeeksTable.jsx
  src/sophronia/src/components/Time/YearsTable.jsx
  src/sophronia/src/components/charts/BarChart.jsx
  src/sophronia/src/components/charts/BaseTable.jsx
  src/sophronia/src/components/charts/ForecastChart.jsx
  src/sophronia/src/components/charts/MetricChange.jsx
  src/sophronia/src/components/charts/StackedBarChart.jsx
  src/sophronia/src/components/charts/Timeseries.jsx
Labels: maintenance, frontend

Fix error
  src/sophronia/src/components/charts/BaseTable.jsx
Labels: frontend

Fix flask debug mode
  docker-compose.yml
  src/berenice/Dockerfile
Labels: maintenance, backend

Add defensive endpoints
  .pre-commit-config.yaml
  pyproject.toml
  src/berenice/ukbo/api/boxoffice.py
  src/berenice/ukbo/api/distributor.py
  src/berenice/ukbo/api/root.py
  src/berenice/ukbo/api/search.py
Labels: maintenance, backend

Move stacked bar chart
  src/sophronia/src/components/charts/StackedBarChart.jsx
  src/sophronia/src/pages/Dashboard.jsx
  src/sophronia/src/pages/Time/Time.jsx
  src/sophronia/src/utils/groupData.js
Labels: frontend

Move timeline chart data
  src/sophronia/src/components/Time/TimeLineChart.jsx
  src/sophronia/src/components/charts/StackedBarChart.jsx
  src/sophronia/src/pages/Dashboard.jsx
  src/sophronia/src/pages/Film/Film.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add initial chart
  src/sophronia/src/components/Time/PreviousYearsChart.jsx
  src/sophronia/src/components/Time/TimeLineChart.jsx
  src/sophronia/src/pages/Time/Time.jsx
  src/sophronia/src/utils/groupData.js
Labels: frontend

Add view logic
  src/sophronia/src/components/Time/PreviousYearsChart.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add film serializer
  src/berenice/ukbo/dto/CountrySchema.py
  src/berenice/ukbo/dto/DistributorSchema.py
  src/berenice/ukbo/dto/FilmSchema.py
  src/berenice/ukbo/dto/FilmWeekSchema.py
  src/berenice/ukbo/dto/__init__.py
  src/berenice/ukbo/services/film.py
  src/sophronia/src/components/Search/FilmsTable.jsx
  src/sophronia/src/pages/Film/Film.jsx
Labels: frontend, backend

Add country serializer
  src/berenice/ukbo/services/country.py
Labels: backend

Add distributor serializer
  src/berenice/ukbo/services/distributor.py
  src/berenice/ukbo/services/film.py
Labels: backend

Add week serializer
  src/berenice/ukbo/dto/WeekSchema.py
  src/berenice/ukbo/dto/__init__.py
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Remove as_dict methods
  src/berenice/ukbo/models/Country.py
  src/berenice/ukbo/models/Distributor.py
  src/berenice/ukbo/models/Film.py
  src/berenice/ukbo/models/Film_Week.py
  src/berenice/ukbo/models/Week.py
Labels: backend

Add docstrings
  src/berenice/ukbo/dto/CountrySchema.py
  src/berenice/ukbo/dto/DistributorSchema.py
  src/berenice/ukbo/dto/FilmSchema.py
  src/berenice/ukbo/dto/FilmWeekSchema.py
  src/berenice/ukbo/dto/WeekSchema.py
Labels: backend

Make admissions migration
  .github/workflows/main.yml
  src/berenice/migrations/versions/186fbac8841e_add_admissions.py
  src/berenice/ukbo/models/Week.py
Labels: migrations, backend

Add CLI for seeding admissions
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/load.py
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Add admissions seeding
  docker-compose.yml
  src/berenice/ukbo/etl/load.py
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/services/boxoffice.py
Labels: maintenance, backend

Add admissions to all time
  src/sophronia/src/components/Time/AllTimeChart.jsx
  src/sophronia/src/components/Time/YearsTable.jsx
Labels: frontend

Add admissions to time
  src/sophronia/src/components/Time/YearsTable.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add update admissions cli
  readme.md
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/services/week.py
Labels: maintenance, backend

Remove comparison for site average
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add docstrings
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/load.py
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/services/week.py
Labels: backend

Add initial pytest
  .github/workflows/test.yml
  src/berenice/tests/__init__.py
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_film.py
  src/berenice/tests/test_api.py
  src/berenice/tests/test_etl.py
  src/berenice/tests/test_factory.py
Labels: backend

Remove python versions
  .github/workflows/test.yml
Labels: none

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
