Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'

Add flatpages
  src/sophronia/app/about/page.js
  src/sophronia/app/contact/page.js
  src/sophronia/src/pages/Country/Countries.jsx
  src/sophronia/src/pages/Country/Country.jsx
  src/sophronia/src/pages/Distributor/Distributor.jsx
  src/sophronia/src/pages/Distributor/Distributors.jsx
  src/sophronia/src/pages/Film/Film.jsx
  src/sophronia/src/pages/Film/Films.jsx
  src/sophronia/src/pages/Flat/About.jsx
  src/sophronia/src/pages/Flat/Contact.jsx
Labels: frontend

Add opendata
  src/sophronia/app/opendata/page.js
  src/sophronia/src/pages/Flat/OpenData.jsx
Labels: frontend

Add top films page:
  src/sophronia/app/topfilms/page.js
  src/sophronia/src/pages/Flat/TopFilms.jsx
Labels: frontend

Add forecast
  src/sophronia/app/forecast/page.js
  src/sophronia/app/topfilms/page.js
  src/sophronia/components/charts/ForecastChart.jsx
  src/sophronia/components/charts/Timeseries.jsx
  src/sophronia/components/ui/ButtonGroup.jsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Not found
  src/sophronia/app/not-found.tsx
  src/sophronia/src/pages/Flat/Forecast.jsx
Labels: frontend

Add distributor market share
  src/sophronia/app/marketshare/distributor/page.js
  src/sophronia/app/marketshare/distributors/page.js
  src/sophronia/components/ui/Tabs.jsx
Labels: frontend

Add all time
  src/sophronia/app/time/page.js
  src/sophronia/components/Time/AllTimeChart.jsx
  src/sophronia/components/charts/BarChart.jsx
  src/sophronia/src/pages/MarketShare/Distributor.jsx
Labels: frontend

Add year time
  src/sophronia/app/time/[year]/page.js
  src/sophronia/app/time/time.jsx
  src/sophronia/components/Time/PreviousYearsChart.jsx
  src/sophronia/components/charts/StackedBarChart.jsx
  src/sophronia/lib/boxoffice.js
Labels: frontend

Add month + day pages
  src/sophronia/app/time/[year]/m/[month]/d/[day]/page.js
  src/sophronia/app/time/[year]/m/[month]/page.js
Labels: frontend

Add quarter pages
  src/sophronia/app/time/[year]/q/[quarter]/[quarterend]/page.js
  src/sophronia/app/time/[year]/q/[quarter]/page.js
  src/sophronia/app/time/time.jsx
Labels: frontend

Link fixes
  src/sophronia/app/time/time.jsx
  src/sophronia/components/ui/Sidebar.jsx
  src/sophronia/src/pages/Time/All.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Fixing links
  src/sophronia/app/time/lastweek/page.js
  src/sophronia/components/Film/BoxOfficeTable.jsx
  src/sophronia/components/Time/WeeksTable.jsx
  src/sophronia/components/charts/BaseTable.jsx
  src/sophronia/components/ui/Sidebar.jsx
Labels: frontend

Add last week
  src/sophronia/app/time/lastweek/page.js
  src/sophronia/app/time/time.jsx
  src/sophronia/src/pages/Time/LastWeek.jsx
Labels: frontend

Add head files for time
  src/sophronia/app/time/[year]/head.tsx
  src/sophronia/app/time/[year]/m/[month]/d/[day]/head.tsx
  src/sophronia/app/time/[year]/m/[month]/head.tsx
  src/sophronia/app/time/[year]/q/[quarter]/[quarterend]/head.tsx
  src/sophronia/app/time/[year]/q/[quarter]/head.tsx
  src/sophronia/app/time/head.tsx
Labels: frontend

Add search
  src/sophronia/app/search/page.js
Labels: frontend

Add search head
  src/sophronia/app/search/head.tsx
Labels: frontend

Add dashboard
  src/sophronia/app/head.tsx
  src/sophronia/app/page.js
  src/sophronia/src/pages/Search.jsx
Labels: frontend

Remove page
  src/sophronia/src/pages/Dashboard.jsx
Labels: frontend

Fix build errors
  src/sophronia/app/country/[slug]/getCountry.js
  src/sophronia/app/country/[slug]/head.tsx
  src/sophronia/app/country/[slug]/page.js
  src/sophronia/app/distributor/[slug]/getDistributor.js
  src/sophronia/app/distributor/[slug]/head.tsx
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/film/[slug]/getFilm.js
  src/sophronia/app/film/[slug]/head.tsx
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/forecast/page.js
  src/sophronia/app/layout.js
  src/sophronia/app/not-found.js
  src/sophronia/app/time/lastweek/page.js
  src/sophronia/app/time/page.js
  src/sophronia/app/topfilms/page.js
  src/sophronia/tsconfig.json
Labels: frontend

Add default env
  src/sophronia/lib/ApiFetcher.jsx
Labels: frontend

Fix ci build
  src/sophronia/app/country/[slug]/CountryFilmsList.jsx
  src/sophronia/app/distributor/[slug]/DistributorFilmsList.jsx
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/page.js
  src/sophronia/app/time/time.jsx
  src/sophronia/components/Dashboard/Skeleton.jsx
  src/sophronia/components/Time/FilmTableDetailed.jsx
Labels: frontend

Fix ci
  .github/workflows/beta.yml
Labels: none

Move to build on server
  .github/workflows/beta.yml
Labels: none

Move to build on server
  .github/workflows/beta.yml
Labels: none

Fix path
  .github/workflows/beta.yml
Labels: none

Fix ambigous target
  .github/workflows/beta.yml
Labels: none

Fix ambigous target
  .github/workflows/beta.yml
Labels: none

Fix workflow
  .github/workflows/beta.yml
Labels: none

Fix workflow
  .github/workflows/beta.yml
Labels: none

Add click context to ETL
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Move country components
  src/sophronia/app/country/CountryList.jsx
  src/sophronia/app/country/page.js
Labels: frontend

Colocation components
  src/sophronia/app/distributor/DistributorList.jsx
  src/sophronia/app/distributor/page.js
  src/sophronia/app/film/FilmList.jsx
  src/sophronia/app/film/[slug]/BoxOfficeTable.jsx
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/film/page.js
  src/sophronia/app/marketshare/distributors/MarketShareChart.jsx
  src/sophronia/app/marketshare/distributors/MarketShareTable.jsx
  src/sophronia/app/marketshare/distributors/page.js
  src/sophronia/app/search/FilmsTable.jsx
  src/sophronia/app/search/page.js
Labels: frontend

Move time components colocation
  src/sophronia/app/time/AllTimeChart.jsx
  src/sophronia/app/time/PreviousTable.jsx
  src/sophronia/app/time/PreviousYearsChart.jsx
  src/sophronia/app/time/WeeksTable.jsx
  src/sophronia/app/time/YearsTable.jsx
  src/sophronia/app/time/page.js
  src/sophronia/app/time/time.jsx
  src/sophronia/app/topfilms/TopFilmsTable.jsx
  src/sophronia/app/topfilms/page.js
  src/sophronia/components/Layout.jsx
Labels: frontend

Move card path
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/forecast/page.js
  src/sophronia/app/marketshare/distributors/page.js
  src/sophronia/app/page.js
  src/sophronia/app/time/page.js
  src/sophronia/app/time/time.jsx
  src/sophronia/components/Dashboard/Datasource.jsx
  src/sophronia/components/Dashboard/LastUpdated.jsx
  src/sophronia/components/Dashboard/Skeleton.jsx
  src/sophronia/components/ui/Card.jsx
  src/sophronia/components/ui/ExportCSV.jsx
  src/sophronia/components/ui/Sidebar.jsx
Labels: frontend

Update backend env
  src/sophronia/lib/ApiFetcher.jsx
Labels: frontend

Update deployment frontend
  .github/workflows/beta.yml
  .github/workflows/main.yml
Labels: none

Add export csv
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/marketshare/distributors/page.js
Labels: frontend

Update pytest trigger
  .github/workflows/test.yml
Labels: none

Test nested suspense
  src/sophronia/app/film/loading.jsx
  src/sophronia/app/marketshare/loading.jsx
Labels: frontend

Test wrapped suspense
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/components/Dashboard/LastUpdated.jsx
  src/sophronia/components/Date.jsx
  src/sophronia/next.config.js
Labels: frontend
