Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'

Setup testing
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/tests/models/test_film.py
Labels: backend

Add country test
  src/berenice/tests/models/test_country.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/settings.py
Labels: backend

Fix caching....
  src/berenice/ukbo/api/country.py
  src/berenice/ukbo/api/distributor.py
  src/berenice/ukbo/api/film.py
Labels: backend

Fix cache warning
  src/berenice/ukbo/settings.py
Labels: backend

Add factory fixtures
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_country.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/tests/models/test_film.py
  src/berenice/tests/models/test_film_week.py
Labels: backend

Optimise fixtures
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_country.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/tests/models/test_film.py
  src/berenice/tests/models/test_film_week.py
Labels: backend

Add week test
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_week.py
Labels: backend

Add initial multiple weeks test
  src/berenice/tests/models/test_film_week.py
Labels: backend

Change to week box office
  src/sophronia/src/components/Time/PreviousYearsChart.jsx
Labels: frontend

Add film weeks multiple
  src/berenice/tests/conftest.py
  src/berenice/tests/models/test_film_week.py
Labels: backend

Add stub files
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/etl/test_load.py
  src/berenice/tests/etl/test_tasks.py
  src/berenice/tests/etl/test_transform.py
Labels: backend

Refactor extract to simplify
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Add test file check
  src/berenice/tests/conftest.py
  src/berenice/tests/etl/test_extract.py
Labels: backend

Add test for no film weeks
  src/berenice/tests/etl/test_extract.py
Labels: backend

Add test extract box office
  .gitignore
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/test_data/13 November 2022.xls
  src/berenice/ukbo/etl/extract.py
Labels: maintenance, backend

Update test path
  .github/workflows/test.yml
Labels: none

Update test path
  .github/workflows/test.yml
Labels: none

Remove country assert
  src/berenice/tests/etl/test_extract.py
Labels: backend

Add find excel test
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/test_data/source.html
  src/berenice/ukbo/etl/extract.py
Labels: backend

Rename test
  src/berenice/tests/etl/test_extract.py
Labels: backend

Add initial transform tests
  src/berenice/tests/etl/test_transform.py
  src/berenice/ukbo/etl/transform.py
Labels: backend

Add find recent film test
  src/berenice/tests/etl/test_transform.py
  src/berenice/ukbo/etl/transform.py
Labels: backend

Add transform test
  src/berenice/tests/etl/test_transform.py
  src/berenice/ukbo/etl/transform.py
Labels: backend

Add initial load tests
  src/berenice/tests/etl/test_load.py
  src/berenice/tests/etl/test_transform.py
  src/berenice/ukbo/etl/load.py
Labels: backend

Add load weeks tests
  src/berenice/tests/etl/test_load.py
Labels: backend

Add initial command tests
  .gitignore
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/test_data/test.csv
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/tasks.py
Labels: maintenance, backend

Add admissions tests
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/test_data/admissions.csv
Labels: backend

New fixture for test
  src/berenice/tests/etl/test_commands.py
Labels: backend

Add vscode config
  .gitignore
  .vscode/project.code-workspace
  src/berenice/.vscode/launch.json
  src/berenice/.vscode/settings.json
Labels: maintenance, backend

Add initial test files
  src/berenice/tests/api/test_boxoffice_api.py
  src/berenice/tests/api/test_country_api.py
  src/berenice/tests/api/test_distributor_api.py
  src/berenice/tests/api/test_film_api.py
  src/berenice/tests/api/test_root.py
  src/berenice/tests/api/test_search.py
Labels: backend

Add film api tests
  src/berenice/tests/api/test_film_api.py
  src/berenice/tests/api/test_root.py
  src/berenice/tests/conftest.py
  src/berenice/tests/etl/test_transform.py
  src/berenice/ukbo/settings.py
Labels: backend

Add distributors api tests
  src/berenice/tests/api/test_distributor_api.py
Labels: backend

Add country api tests
  src/berenice/tests/api/test_country_api.py
Labels: backend

Add box office api tests
  src/berenice/tests/api/test_boxoffice_api.py
  src/berenice/tests/conftest.py
  src/berenice/tests/etl/test_commands.py
Labels: backend

Add search api tests
  src/berenice/tests/api/test_search.py
Labels: backend

Add initial test services
  src/berenice/tests/services/test_boxoffice_service.py
  src/berenice/tests/services/test_country_service.py
  src/berenice/tests/services/test_distributor_service.py
  src/berenice/tests/services/test_film_service.py
  src/berenice/tests/services/test_forecast_service.py
  src/berenice/tests/services/test_week_service.py
Labels: backend

Add country service tests
  src/berenice/tests/api/test_country_api.py
  src/berenice/tests/conftest.py
  src/berenice/tests/services/test_country_service.py
Labels: backend

Add distributor service tests
  src/berenice/tests/api/test_distributor_api.py
  src/berenice/tests/conftest.py
  src/berenice/tests/services/test_country_service.py
  src/berenice/tests/services/test_distributor_service.py
Labels: backend

Add film service tests
  src/berenice/tests/services/test_film_service.py
  src/berenice/ukbo/services/film.py
Labels: backend

Add week service tests
  src/berenice/tests/services/test_week_service.py
  src/berenice/ukbo/services/week.py
Labels: backend
