Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'

Fix skeletons
  src/sophronia/app/page.tsx
  src/sophronia/components/Dashboard/Skeleton.tsx
Labels: frontend

Rename table header
  src/sophronia/components/Time/FilmTableDetailed.tsx
Labels: frontend

Revert component colocation
  src/sophronia/app/(pages)/compare/page.tsx
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/app/(pages)/film/FilmList.tsx
  src/sophronia/app/(pages)/film/[slug]/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/app/(pages)/status/page.tsx
  src/sophronia/app/(pages)/topfilms/page.tsx
  src/sophronia/app/not-found.tsx
  src/sophronia/app/page.tsx
  src/sophronia/app/time/page.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/Datasource.tsx
  src/sophronia/components/Datepickers.tsx
  src/sophronia/components/LastUpdated.tsx
  src/sophronia/components/Search.tsx
  src/sophronia/components/Skeleton.tsx
  src/sophronia/components/StatusCard.tsx
  src/sophronia/components/charts/AllTimeChart.tsx
  src/sophronia/components/charts/CompareCumulativeChart.tsx
  src/sophronia/components/charts/CompareTotalChart.tsx
  src/sophronia/components/charts/MarketShareChart.tsx
  src/sophronia/components/charts/PreviousYearsChart.tsx
  src/sophronia/components/tables/BoxOfficeTable.tsx
  src/sophronia/components/tables/CompareTable.tsx
  src/sophronia/components/tables/CountryFilmsTable.tsx
  src/sophronia/components/tables/DistributorFilmsTable.tsx
  src/sophronia/components/tables/EventsTable.tsx
  src/sophronia/components/tables/FilmTable.tsx
  src/sophronia/components/tables/FilmTableDetailed.tsx
  src/sophronia/components/tables/FilmsTable.tsx
  src/sophronia/components/tables/MarketShareTable.tsx
  src/sophronia/components/tables/PreviousTable.tsx
  src/sophronia/components/tables/TopFilmsTable.tsx
  src/sophronia/components/tables/WeeksTable.tsx
  src/sophronia/components/tables/YearsTable.tsx
  src/sophronia/components/ui/Sidebar.tsx
Labels: frontend

Move styles
  src/sophronia/app/layout.tsx
  src/sophronia/styles/globals.css
Labels: frontend

Add icons component
  src/sophronia/components/icons.tsx
Labels: frontend

Add config + icons
  src/sophronia/components/Datasource.tsx
  src/sophronia/components/Search.tsx
  src/sophronia/components/charts/timeline.tsx
  src/sophronia/components/icons.tsx
  src/sophronia/components/status-card.tsx
  src/sophronia/components/ui/Footer.tsx
  src/sophronia/components/ui/Sidebar.tsx
  src/sophronia/components/ui/export-csv.tsx
  src/sophronia/components/ui/sidebar-link.tsx
  src/sophronia/config/footer.ts
  src/sophronia/config/sidebar.ts
Labels: frontend

Fix import
  src/sophronia/components/tables/film-table-detailed.tsx
Labels: frontend

Rename files
  src/sophronia/components/charts/timeseries.tsx
  src/sophronia/components/datasource.tsx
  src/sophronia/components/date.tsx
  src/sophronia/components/datepickers.tsx
  src/sophronia/components/search.tsx
  src/sophronia/components/skeleton.tsx
  src/sophronia/components/ui/breadcrumbs.tsx
  src/sophronia/components/ui/button.tsx
  src/sophronia/components/ui/card.tsx
  src/sophronia/components/ui/footer.tsx
  src/sophronia/components/ui/grid.tsx
  src/sophronia/components/ui/pagination.tsx
  src/sophronia/components/ui/sidebar.tsx
  src/sophronia/components/ui/spinner.tsx
  src/sophronia/components/ui/tabs.tsx
  src/sophronia/components/ui/tooltip.tsx
Labels: frontend

Move films list ssr
  src/sophronia/app/(pages)/film/FilmList.tsx
  src/sophronia/app/(pages)/film/[slug]/page.tsx
  src/sophronia/app/(pages)/film/page.tsx
  src/sophronia/components/ui/pagination.tsx
  src/sophronia/lib/films.ts
Labels: frontend

Fix pagination
  src/sophronia/lib/utils/pagination.ts
Labels: frontend

Fix film fetching
  src/sophronia/app/(pages)/compare/page.tsx
  src/sophronia/app/(pages)/film/[slug]/getFilm.ts
Labels: frontend

Add distributor ssr
  src/sophronia/app/(pages)/distributor/[slug]/getDistributor.ts
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/page.tsx
  src/sophronia/components/tables/distributor-films-table.tsx
  src/sophronia/lib/distributors.ts
Labels: frontend

Add country ssr
  src/sophronia/app/(pages)/country/[slug]/getCountry.ts
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/country/page.tsx
  src/sophronia/app/(pages)/distributor/page.tsx
  src/sophronia/components/tables/country-films-table.tsx
  src/sophronia/components/tables/country-table.tsx
  src/sophronia/components/tables/distributor-table.tsx
  src/sophronia/lib/countries.ts
Labels: frontend

Remove component
  src/sophronia/app/(pages)/distributor/DistributorList.tsx
Labels: frontend

Add search ssr
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/lib/search.ts
Labels: frontend

Update backend api
  src/sophronia/app/(pages)/compare/page.tsx
  src/sophronia/app/(pages)/forecast/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/(pages)/opendata/page.tsx
  src/sophronia/app/(pages)/status/getEvents.ts
  src/sophronia/app/(pages)/topfilms/page.tsx
  src/sophronia/app/time/lastweek/page.ts
  src/sophronia/app/time/page.tsx
  src/sophronia/lib/api.ts
  src/sophronia/lib/boxoffice.ts
  src/sophronia/lib/countries.ts
  src/sophronia/lib/distributors.ts
  src/sophronia/lib/films.ts
  src/sophronia/lib/search.ts
Labels: frontend

Move fetch
  src/sophronia/app/(pages)/compare/page.tsx
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/country/page.tsx
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/page.tsx
  src/sophronia/app/(pages)/film/[slug]/page.tsx
  src/sophronia/app/(pages)/film/page.tsx
  src/sophronia/app/(pages)/forecast/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/(pages)/opendata/page.tsx
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/app/(pages)/status/getEvents.ts
  src/sophronia/app/(pages)/topfilms/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/app/time/lastweek/page.ts
  src/sophronia/app/time/page.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/tables/country-films-table.tsx
  src/sophronia/components/tables/distributor-films-table.tsx
  src/sophronia/lib/fetch/api.ts
  src/sophronia/lib/fetch/boxoffice.ts
  src/sophronia/lib/fetch/countries.ts
  src/sophronia/lib/fetch/distributors.ts
  src/sophronia/lib/fetch/films.ts
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Fix footer
  src/sophronia/components/icons.tsx
  src/sophronia/components/ui/footer.tsx
  src/sophronia/components/ui/sidebar.tsx
  src/sophronia/config/footer.ts
Labels: frontend

Fix footer key
  src/sophronia/components/ui/footer.tsx
Labels: frontend

Temp tabs
  src/sophronia/app/(pages)/about/page.tsx
  src/sophronia/components/ui/radix-tabs.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Fix etl rollback
  src/berenice/requirements.in
  src/berenice/requirements.txt
  src/berenice/ukbo/services/film.py
Labels: backend

Fix search
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Revalidate caching
  src/sophronia/app/(pages)/forecast/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/(pages)/status/getEvents.ts
  src/sophronia/app/(pages)/topfilms/page.tsx
  src/sophronia/app/time/lastweek/page.ts
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Final radix tabs
  src/sophronia/components/ui/radix-tabs.tsx
  src/sophronia/components/ui/tabs.tsx
Labels: frontend

Add tabs to pages
  src/sophronia/app/(pages)/about/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/time/time.tsx
Labels: frontend

Add default tabs
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/time/time.tsx
Labels: frontend

Add tooltip
  src/sophronia/components/skeleton.tsx
  src/sophronia/components/ui/tooltip.tsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Update tooltips
  src/sophronia/app/page.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/charts/timeline.tsx
Labels: frontend

Update tooltips
  src/sophronia/components/ui/tooltip.tsx
Labels: frontend

Add caching limit
  src/sophronia/app/time/lastweek/page.ts
  src/sophronia/app/time/page.tsx
  src/sophronia/lib/fetch/countries.ts
  src/sophronia/lib/fetch/distributors.ts
  src/sophronia/lib/fetch/films.ts
Labels: frontend

Add nextjs debug
  src/sophronia/.vscode/launch.json
Labels: frontend

Refine breadcrumbs
  src/sophronia/components/ui/breadcrumbs.tsx
Labels: frontend

Add nav menu library
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add nav component
  src/sophronia/components/ui/navigation-menu.tsx
Labels: frontend

Rename workspace
  .vscode/boxoffice.code-workspace
Labels: none

Add time breadcrumbs component
  src/sophronia/components/icons.tsx
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/navigation-menu.tsx
Labels: frontend

Implement on time
  src/sophronia/app/time/time.tsx
Labels: frontend

Remove pill links
  src/sophronia/app/time/time.tsx
Labels: frontend

Fix mobile
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/navigation-menu.tsx
Labels: frontend

Relocate time
  src/sophronia/app/(pages)/time/[year]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/page.tsx
  src/sophronia/app/(pages)/time/[year]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/loading.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/page.tsx
  src/sophronia/app/(pages)/time/lastweek/page.ts
  src/sophronia/app/(pages)/time/loading.tsx
  src/sophronia/app/(pages)/time/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
  src/sophronia/components/ui/breadcrumbs-time.tsx
  src/sophronia/components/ui/breadcrumbs.tsx
Labels: frontend
