Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'

Add pytest cov
  src/berenice/requirements.in
  src/berenice/requirements.txt
Labels: backend

Add boxoffice service tests
  src/berenice/tests/services/test_boxoffice_service.py
  src/berenice/tests/services/test_film_service.py
  src/berenice/ukbo/dto/FilmWeekSchema.py
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Add forecast service tests
  src/berenice/tests/conftest.py
  src/berenice/tests/services/test_forecast_service.py
Labels: backend

Add api test docs
  src/berenice/tests/api/test_boxoffice_api.py
  src/berenice/tests/api/test_country_api.py
  src/berenice/tests/api/test_distributor_api.py
  src/berenice/tests/api/test_film_api.py
  src/berenice/tests/api/test_root.py
  src/berenice/tests/api/test_search.py
Labels: backend

Add etl test docs
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/etl/test_load.py
  src/berenice/tests/etl/test_transform.py
Labels: backend

Add models testing docs
  src/berenice/tests/models/test_country.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/tests/models/test_film.py
  src/berenice/tests/models/test_film_week.py
  src/berenice/tests/models/test_week.py
Labels: backend

Document tests
  src/berenice/tests/api/test_boxoffice_api.py
  src/berenice/tests/api/test_country_api.py
  src/berenice/tests/api/test_distributor_api.py
  src/berenice/tests/api/test_film_api.py
  src/berenice/tests/api/test_root.py
  src/berenice/tests/api/test_search.py
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/etl/test_load.py
  src/berenice/tests/etl/test_transform.py
  src/berenice/tests/models/test_country.py
  src/berenice/tests/models/test_distributor.py
  src/berenice/tests/models/test_film.py
  src/berenice/tests/models/test_film_week.py
  src/berenice/tests/models/test_week.py
  src/berenice/tests/services/test_boxoffice_service.py
  src/berenice/tests/services/test_country_service.py
  src/berenice/tests/services/test_distributor_service.py
  src/berenice/tests/services/test_film_service.py
  src/berenice/tests/services/test_forecast_service.py
  src/berenice/tests/services/test_week_service.py
Labels: backend

Add docstring to confest
  src/berenice/tests/conftest.py
Labels: backend

Add sitemap tests
  src/berenice/tests/test_sitemap.py
Labels: backend

Fix backup etl
  readme.md
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/tasks.py
Labels: maintenance, backend

Initial comment
  .github/workflows/test.yml
Labels: none

Update file paths
  .github/workflows/test.yml
Labels: none

Fix app name
  .github/workflows/test.yml
Labels: none

Update paths
  .github/workflows/test.yml
Labels: none

Update trigger
  .github/workflows/test.yml
Labels: none

Add badge workflow
  .github/workflows/coverage.yml
  readme.md
Labels: maintenance

Fix job
  .github/workflows/coverage.yml
Labels: none

Remove coverage
  .github/workflows/coverage.yml
  readme.md
Labels: maintenance

Fix build archive
  src/berenice/ukbo/dto/FilmWeekSchema.py
  src/berenice/ukbo/dto/__init__.py
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Update tests
  src/berenice/tests/api/test_boxoffice_api.py
  src/berenice/tests/etl/test_commands.py
  src/berenice/tests/services/test_boxoffice_service.py
Labels: backend

Add task tests
  src/berenice/tests/etl/test_extract.py
  src/berenice/tests/etl/test_tasks.py
  src/berenice/ukbo/etl/commands.py
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Make package changes
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add routes skeleton
  docker-compose.yml
  src/sophronia/app/about/page.js
  src/sophronia/app/contact/page.js
  src/sophronia/app/country/[slug]/page.js
  src/sophronia/app/country/page.js
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/distributor/page.js
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/film/page.js
  src/sophronia/app/forecast/page.js
  src/sophronia/app/marketshare/distributor/page.js
  src/sophronia/app/marketshare/page.js
  src/sophronia/app/opendata/page.js
  src/sophronia/app/search/page.js
  src/sophronia/app/time/[year]/m/[month]/d/[day]/page.js
  src/sophronia/app/time/[year]/m/[month]/page.js
  src/sophronia/app/time/[year]/page.js
  src/sophronia/app/time/[year]/q/[quarter]/[quarterend]/page.js
  src/sophronia/app/time/[year]/q/[quarter]/page.js
  src/sophronia/app/time/page.js
  src/sophronia/app/topfilms/page.js
  src/sophronia/app/week/page.js
Labels: maintenance, frontend

Migrate api fetching
  src/sophronia/lib/ApiFetcher.jsx
  src/sophronia/lib/boxoffice.js
  src/sophronia/lib/countries.js
  src/sophronia/lib/distributors.js
  src/sophronia/lib/films.js
  src/sophronia/lib/search.js
  src/sophronia/lib/utils/colorGenerator.js
  src/sophronia/lib/utils/groupData.js
  src/sophronia/lib/utils/pagination.js
  src/sophronia/lib/utils/scrollToTop.js
Labels: frontend

Add film fetching
  .gitignore
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/app/film/page.js
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
  src/sophronia/src/api/countries.js
  src/sophronia/src/api/distributors.js
  src/sophronia/src/api/films.js
  src/sophronia/src/api/search.js
  src/sophronia/src/utils/colorGenerator.js
  src/sophronia/src/utils/groupData.js
  src/sophronia/src/utils/pagination.js
  src/sophronia/src/utils/scrollToTop.js
  src/sophronia/tsconfig.json
Labels: maintenance, frontend

Add fetch to film
  src/sophronia/app/country/page.js
  src/sophronia/app/error.tsx
  src/sophronia/app/film/[slug]/head.tsx
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/lib/ApiFetcher.jsx
Labels: frontend

Add country / distributor fetching
  src/sophronia/app/country/[slug]/page.js
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/film/[slug]/page.js
Labels: frontend

Move sidebarlink to client component
  src/sophronia/components/ui/SideBarLink.jsx
  src/sophronia/components/ui/Sidebar.jsx
Labels: frontend

Fix search component
  src/sophronia/components/Search/Searchbar.jsx
  src/sophronia/components/ui/Sidebar.jsx
Labels: frontend

Migrate to Next link
  src/sophronia/components/Country/CountryList.jsx
  src/sophronia/components/Distributor/DistributorList.jsx
  src/sophronia/components/Distributor/MarketShareTable.jsx
  src/sophronia/components/Film/BoxOfficeTable.jsx
  src/sophronia/components/Film/FilmTable.jsx
  src/sophronia/components/Search/FilmsTable.jsx
  src/sophronia/components/Time/FilmTable.jsx
  src/sophronia/components/Time/PreviousTable.jsx
  src/sophronia/components/Time/TopFilmsTable.jsx
  src/sophronia/components/Time/WeeksTable.jsx
  src/sophronia/components/Time/YearsTable.jsx
  src/sophronia/src/pages/Film/Film.jsx
  src/sophronia/src/pages/Search.jsx
  src/sophronia/src/pages/Time/Time.jsx
Labels: frontend

Add film page ui
  src/sophronia/app/film/[slug]/page.js
  src/sophronia/components/Time/TimeLineChart.jsx
Labels: frontend

Update distributors
  src/sophronia/app/distributor/[slug]/head.tsx
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/film/[slug]/head.tsx
  src/sophronia/components/Distributor/DistributorFilmsList.jsx
  src/sophronia/components/StructuredData.jsx
  src/sophronia/components/ui/ExportCSV.jsx
  src/sophronia/lib/ApiFetcher.jsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add films list
  src/sophronia/app/distributor/[slug]/page.js
  src/sophronia/app/film/page.js
Labels: frontend

Add films head
  src/sophronia/app/film/head.tsx
Labels: frontend

Add simple head files
  src/sophronia/app/about/head.tsx
  src/sophronia/app/contact/head.tsx
  src/sophronia/app/country/head.tsx
  src/sophronia/app/distributor/head.tsx
  src/sophronia/app/forecast/head.tsx
  src/sophronia/app/marketshare/head.tsx
  src/sophronia/app/opendata/head.tsx
  src/sophronia/app/topfilms/head.tsx
Labels: frontend

Add country head
  src/sophronia/app/country/[slug]/head.tsx
Labels: frontend

Add country films list
  src/sophronia/app/country/[slug]/CountryFilmsList.jsx
  src/sophronia/app/country/[slug]/page.js
  src/sophronia/app/distributor/[slug]/page.js
Labels: frontend

Add countries list
  src/sophronia/app/country/page.js
Labels: frontend

Add distributor list
  src/sophronia/app/distributor/page.js
Labels: frontend

Fix distributor list
  src/sophronia/components/Distributor/DistributorList.jsx
Labels: frontend
