Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'

Update film week migration
  src/berenice/migrations/versions/d96ab19acb14_distributor_null_in_film_week.py
  src/berenice/ukbo/models/Film_Week.py
Labels: migrations, backend

Update models
  src/berenice/ukbo/models/Distributor.py
  src/berenice/ukbo/models/Film.py
Labels: backend

Update services
  src/berenice/ukbo/services/distributor.py
  src/berenice/ukbo/services/film.py
Labels: backend

Fix serialization
  src/berenice/ukbo/dto/FilmWeekSchema.py
Labels: backend

Allow frontend to conditional hide
  src/sophronia/app/(pages)/film/[slug]/page.tsx
  src/sophronia/interfaces/Film.ts
Labels: frontend

Update load
  src/berenice/ukbo/etl/load.py
Labels: backend

Fix tables
  src/sophronia/app/(pages)/time/page.tsx
  src/sophronia/components/tables/compare-table.tsx
  src/sophronia/components/tables/film-table.tsx
  src/sophronia/components/tables/films-table.tsx
Labels: frontend

Update breadcrumbs
  src/sophronia/app/(pages)/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/(pages)/time/[year]/m/[month]/page.tsx
  src/sophronia/app/(pages)/time/[year]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/[quarterend]/page.tsx
  src/sophronia/app/(pages)/time/[year]/q/[quarter]/page.tsx
  src/sophronia/components/ui/breadcrumbs-time.tsx
Labels: frontend

Add comment
  src/sophronia/components/ui/breadcrumbs-time.tsx
Labels: frontend

Add clause
  src/sophronia/app/(pages)/time/page.tsx
Labels: frontend

Remove debug
  src/sophronia/components/ui/breadcrumbs-time.tsx
Labels: frontend

Fix table
  src/sophronia/components/tables/top-films-table.tsx
Labels: frontend

Update about copy
  src/sophronia/app/(pages)/about/page.tsx
Labels: frontend

Fix tests
  src/berenice/tests/api/test_film_api.py
  src/berenice/tests/api/test_search.py
  src/berenice/tests/conftest.py
  src/berenice/tests/etl/test_load.py
  src/berenice/tests/etl/test_tasks.py
  src/berenice/tests/services/test_film_service.py
  src/berenice/ukbo/models/Distributor.py
Labels: backend

Add scheduler context
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Add dependencies
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add new icons
  src/sophronia/components/icons.tsx
Labels: frontend

Add popover component
  src/sophronia/components/ui/popover.tsx
Labels: frontend

Add calendar component
  src/sophronia/components/ui/calendar.tsx
Labels: frontend

Add date picker
  src/sophronia/components/date-range-picker.tsx
Labels: frontend

Add cva
  src/sophronia/package-lock.json
  src/sophronia/package.json
  src/sophronia/tailwind.config.js
Labels: frontend

Style popover
  src/sophronia/components/ui/popover.tsx
Labels: frontend

Fix button group
  src/sophronia/components/ui/button-group.tsx
Labels: frontend

Implement datepicker
  src/sophronia/components/controls.tsx
  src/sophronia/components/date-range-picker.tsx
  src/sophronia/components/datepickers.tsx
Labels: frontend

Update calendar
  src/sophronia/components/ui/calendar.tsx
Labels: frontend

Add button new
  src/sophronia/components/ui/button-new.tsx
Labels: frontend

Remove datepicker dependency
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Fix button height
  src/sophronia/components/ui/button.tsx
Labels: frontend

Update buttons
  src/sophronia/components/controls.tsx
  src/sophronia/components/ui/button-group.tsx
  src/sophronia/components/ui/button-new.tsx
  src/sophronia/components/ui/button.tsx
Labels: frontend

Fix buttons
  src/sophronia/app/(pages)/film/[slug]/page.tsx
  src/sophronia/app/(pages)/time/time.tsx
  src/sophronia/components/controls.tsx
  src/sophronia/components/datasource.tsx
  src/sophronia/components/ui/button-group.tsx
  src/sophronia/components/ui/export-csv.tsx
Labels: frontend

Fix datepicker colors
  src/sophronia/components/ui/calendar.tsx
Labels: frontend

Add min/max dates
  src/sophronia/components/date-range-picker.tsx
  src/sophronia/components/ui/calendar.tsx
Labels: frontend

Improve types
  src/sophronia/components/ui/badge-link.tsx
  src/sophronia/components/ui/description-item.tsx
  src/sophronia/components/ui/export-csv.tsx
  src/sophronia/components/ui/grid.tsx
  src/sophronia/components/ui/progress-bar.tsx
Labels: frontend

Fix buttons margins
  src/sophronia/app/(pages)/compare/page.tsx
  src/sophronia/app/(pages)/marketshare/distributors/page.tsx
  src/sophronia/app/(pages)/time/page.tsx
Labels: frontend

Upgrade dependencies
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

First pass of query...
  src/berenice/ukbo/models/Film.py
  src/berenice/ukbo/models/__init__.py
  src/berenice/ukbo/services/country.py
Labels: backend

Fix numeric tabular data
  src/sophronia/components/tables/base-table.tsx
  src/sophronia/components/tables/box-office-table.tsx
  src/sophronia/components/tables/compare-table.tsx
  src/sophronia/components/tables/film-table-detailed.tsx
  src/sophronia/components/tables/film-table.tsx
  src/sophronia/components/tables/films-table.tsx
  src/sophronia/components/tables/market-share-table.tsx
  src/sophronia/components/tables/previous-years-table.tsx
  src/sophronia/components/tables/top-films-table.tsx
  src/sophronia/components/tables/weeks-table.tsx
  src/sophronia/components/tables/years-table.tsx
Labels: frontend

Update dependencies
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Add service layer
  src/berenice/ukbo/services/distributor.py
Labels: backend

Add api endpoint
  src/berenice/ukbo/api/distributor.py
Labels: backend
