Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Finish simple types
  src/sophronia/app/country/CountryList.tsx
  src/sophronia/app/country/[slug]/CountryFilmsList.tsx
  src/sophronia/app/distributor/DistributorList.tsx
  src/sophronia/app/distributor/[slug]/DistributorFilmsList.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/Dashboard/Datepickers.tsx
  src/sophronia/components/Dashboard/LastUpdated.tsx
  src/sophronia/components/Dashboard/Skeleton.tsx
  src/sophronia/components/Time/FilmTableDetailed.tsx
  src/sophronia/components/Time/TimeLineChart.tsx
  src/sophronia/components/charts/StackedBarChart.tsx
  src/sophronia/components/charts/Timeseries.tsx
  src/sophronia/components/ui/PageTitle.tsx
  src/sophronia/components/ui/Tabs.tsx
  src/sophronia/next.config.js
Labels: frontend

Add country type
  .vscode/project.code-workspace
  src/sophronia/app/DefaultTags.tsx
  src/sophronia/app/country/CountryList.tsx
  src/sophronia/app/country/[slug]/getCountry.js
  src/sophronia/app/country/[slug]/getCountry.ts
  src/sophronia/app/country/[slug]/page.tsx
  src/sophronia/app/country/page.tsx
  src/sophronia/app/layout.tsx
  src/sophronia/app/not-found.tsx
  src/sophronia/app/topfilms/TopFilmsTable.tsx
  src/sophronia/app/topfilms/page.tsx
  src/sophronia/interfaces/Country.ts
  src/sophronia/interfaces/TopFilm.ts
Labels: frontend

Add distributor type
  src/sophronia/app/distributor/[slug]/getDistributor.js
  src/sophronia/app/distributor/[slug]/getDistributor.ts
  src/sophronia/app/distributor/[slug]/page.tsx
  src/sophronia/interfaces/Distributor.ts
Labels: frontend

Add film type
  src/sophronia/app/country/page.tsx
  src/sophronia/app/film/[slug]/getFilm.js
  src/sophronia/app/film/[slug]/getFilm.ts
  src/sophronia/app/film/[slug]/page.tsx
  src/sophronia/app/film/page.tsx
  src/sophronia/components/ui/Card.tsx
  src/sophronia/interfaces/Film.ts
Labels: frontend

Add api types
  src/sophronia/app/about/page.tsx
  src/sophronia/app/contact/page.tsx
  src/sophronia/app/distributor/page.tsx
  src/sophronia/app/forecast/page.tsx
  src/sophronia/app/marketshare/distributors/MarketShareChart.tsx
  src/sophronia/app/marketshare/distributors/page.tsx
  src/sophronia/app/marketshare/page.js
  src/sophronia/app/marketshare/page.tsx
  src/sophronia/app/opendata/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/app/search/page.tsx
  src/sophronia/components/charts/ForecastChart.tsx
  src/sophronia/components/ui/Card.tsx
  src/sophronia/components/ui/PageContent.tsx
  src/sophronia/interfaces/Country.ts
  src/sophronia/interfaces/Forecast.ts
  src/sophronia/interfaces/MarketShare.ts
  src/sophronia/lib/search.ts
Labels: frontend

Add time type
  src/sophronia/app/time/AllTimeChart.tsx
  src/sophronia/app/time/YearsTable.tsx
  src/sophronia/app/time/page.tsx
  src/sophronia/interfaces/Time.ts
Labels: frontend

Add country end to end types
  src/sophronia/app/country/CountryList.tsx
  src/sophronia/app/country/page.tsx
  src/sophronia/interfaces/Country.ts
  src/sophronia/lib/countries.ts
Labels: frontend

Add distributor types end to end
  src/sophronia/app/distributor/DistributorList.tsx
  src/sophronia/interfaces/Distributor.ts
  src/sophronia/lib/distributors.ts
Labels: frontend

Add film types end to end
  src/sophronia/app/film/FilmList.tsx
  src/sophronia/app/film/[slug]/BoxOfficeTable.tsx
  src/sophronia/app/film/[slug]/getFilm.ts
  src/sophronia/app/film/page.tsx
  src/sophronia/interfaces/Country.ts
  src/sophronia/interfaces/Distributor.ts
  src/sophronia/interfaces/Film.ts
  src/sophronia/lib/films.ts
Labels: frontend

Add search types
  src/sophronia/app/search/FilmsTable.tsx
  src/sophronia/app/search/page.tsx
  src/sophronia/lib/search.ts
Labels: frontend

Add box office types
  src/sophronia/app/forecast/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/app/topfilms/TopFilmsTable.tsx
  src/sophronia/app/topfilms/page.tsx
  src/sophronia/components/charts/ForecastChart.tsx
  src/sophronia/components/charts/StackedBarChart.tsx
  src/sophronia/interfaces/BoxOffice.ts
  src/sophronia/interfaces/Film.ts
  src/sophronia/interfaces/Forecast.ts
  src/sophronia/interfaces/MarketShare.ts
  src/sophronia/interfaces/TopFilm.ts
  src/sophronia/lib/boxoffice.ts
  src/sophronia/lib/utils/groupData.ts
Labels: frontend

Add chart typing
  src/sophronia/app/forecast/page.tsx
  src/sophronia/app/search/page.tsx
  src/sophronia/app/time/PreviousTable.tsx
  src/sophronia/app/time/PreviousYearsChart.tsx
  src/sophronia/app/time/WeeksTable.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/Time/FilmTableDetailed.tsx
  src/sophronia/components/Time/TimeLineChart.tsx
  src/sophronia/components/charts/BarChart.tsx
  src/sophronia/components/charts/ForecastChart.tsx
  src/sophronia/components/charts/StackedBarChart.tsx
  src/sophronia/components/charts/Timeseries.tsx
  src/sophronia/interfaces/BoxOffice.ts
  src/sophronia/lib/boxoffice.ts
  src/sophronia/lib/utils/groupData.ts
Labels: frontend

Add strict components
  src/sophronia/app/page.tsx
  src/sophronia/components/Dashboard/Datepickers.tsx
  src/sophronia/components/Dashboard/LastUpdated.tsx
  src/sophronia/components/Dashboard/Skeleton.tsx
  src/sophronia/components/Film/FilmTable.tsx
  src/sophronia/components/Search/Searchbar.tsx
  src/sophronia/components/Time/FilmTableDetailed.tsx
  src/sophronia/components/Time/TimeLineChart.tsx
  src/sophronia/components/charts/BaseTable.tsx
  src/sophronia/components/charts/StackedBarChart.tsx
  src/sophronia/lib/boxoffice.ts
  src/sophronia/lib/utils/groupData.ts
  src/sophronia/tsconfig.json
Labels: frontend

Fix strict typing
  src/sophronia/app/country/[slug]/CountryFilmsList.tsx
  src/sophronia/app/country/page.tsx
  src/sophronia/app/distributor/[slug]/DistributorFilmsList.tsx
  src/sophronia/app/distributor/page.tsx
  src/sophronia/app/film/[slug]/page.tsx
  src/sophronia/app/film/page.tsx
  src/sophronia/app/marketshare/distributors/MarketShareTable.tsx
  src/sophronia/app/marketshare/distributors/page.tsx
  src/sophronia/app/search/page.tsx
  src/sophronia/app/time/AllTimeChart.tsx
  src/sophronia/app/time/PreviousYearsChart.tsx
  src/sophronia/app/time/[year]/m/[month]/d/[day]/page.tsx
  src/sophronia/app/time/[year]/m/[month]/page.tsx
  src/sophronia/app/time/[year]/page.tsx
  src/sophronia/app/time/[year]/q/[quarter]/[quarterend]/page.tsx
  src/sophronia/app/time/[year]/q/[quarter]/loading.tsx
  src/sophronia/app/time/[year]/q/[quarter]/page.tsx
  src/sophronia/app/time/lastweek/page.ts
  src/sophronia/app/time/time.tsx
Labels: frontend

Fix distributor type import
  src/sophronia/app/distributor/[slug]/getDistributor.ts
Labels: frontend

Update readme
  readme.md
Labels: maintenance

Add event model
  src/berenice/ukbo/models/Event.py
Labels: backend

Add migration
  src/berenice/migrations/versions/b44f4ad55fe0_add_event.py
  src/berenice/ukbo/models/__init__.py
Labels: migrations, backend

Add service layer
  src/berenice/ukbo/dto/EventSchema.py
  src/berenice/ukbo/dto/__init__.py
  src/berenice/ukbo/models/__init__.py
  src/berenice/ukbo/services/__init__.py
  src/berenice/ukbo/services/events.py
Labels: backend

Add events endpoint
  src/berenice/ukbo/api/__init__.py
  src/berenice/ukbo/api/events.py
Labels: backend

Add frontend fetching
  src/sophronia/app/status/getEvents.ts
  src/sophronia/app/status/page.tsx
  src/sophronia/interfaces/Event.ts
Labels: frontend

Rename failure to error
  src/berenice/migrations/versions/caeb30be6bad_add_event.py
  src/berenice/ukbo/dto/EventSchema.py
  src/berenice/ukbo/models/Event.py
  src/berenice/ukbo/models/__init__.py
  src/berenice/ukbo/services/events.py
Labels: migrations, backend

Update types
  src/sophronia/app/status/getEvents.ts
  src/sophronia/interfaces/Event.ts
Labels: frontend

Add clsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Refactor card
  src/sophronia/components/ui/Card.tsx
Labels: frontend

Add initial page
  src/sophronia/app/status/EventsTable.tsx
  src/sophronia/app/status/page.tsx
Labels: frontend

Update colors
  src/sophronia/app/status/page.tsx
  src/sophronia/components/ui/Card.tsx
Labels: frontend

Add datetime component
  src/sophronia/components/Date.tsx
Labels: frontend

Add status card
  src/sophronia/app/status/StatusCard.tsx
  src/sophronia/app/status/page.tsx
Labels: frontend

Use datetime
  src/sophronia/app/status/EventsTable.tsx
Labels: frontend

Add event creation
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/models/Event.py
  src/berenice/ukbo/models/__init__.py
  src/berenice/ukbo/services/events.py
Labels: backend

Add events to tasks
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/tasks.py
  src/berenice/ukbo/services/film.py
Labels: backend

Update status page
  src/sophronia/app/status/EventsTable.tsx
  src/sophronia/components/ui/Footer.tsx
Labels: frontend

Add empty state
  src/sophronia/app/status/EventsTable.tsx
  src/sophronia/app/status/StatusCard.tsx
  src/sophronia/app/status/page.tsx
Labels: frontend

Update forecast chart
  src/sophronia/app/film/[slug]/page.tsx
  src/sophronia/app/forecast/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/app/time/AllTimeChart.tsx
  src/sophronia/app/time/time.tsx
  src/sophronia/components/Dashboard/Skeleton.tsx
  src/sophronia/components/charts/ForecastChart.tsx
  src/sophronia/components/charts/TimeLineChart.tsx
  src/sophronia/components/charts/Timeseries.tsx
  src/sophronia/interfaces/BoxOffice.ts
Labels: frontend

Add backend film search
  src/berenice/ukbo/api/search.py
  src/berenice/ukbo/services/film.py
Labels: backend

Add typeahead component
  src/sophronia/app/compare/page.jsx
Labels: frontend

Add working typeahead prototype
  src/sophronia/app/compare/page.jsx
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: frontend

Working film data
  src/sophronia/app/compare/page.jsx
  src/sophronia/components/ui/Grid.tsx
Labels: frontend

Add compare table
  src/sophronia/app/compare/CompareTable.tsx
  src/sophronia/app/compare/page.jsx
Labels: frontend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
