Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Add fetch
  src/sophronia/lib/fetch/distributors.ts
Labels: frontend

Add types
  src/sophronia/interfaces/Distributor.ts
  src/sophronia/lib/fetch/distributors.ts
Labels: frontend

Add initial graphs
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/components/charts/previous-distributor.tsx
  src/sophronia/components/tables/distributor-previous-table.tsx
  src/sophronia/interfaces/Distributor.ts
Labels: frontend

Add tabs
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/components/tables/distributor-previous-table.tsx
Labels: frontend

Add count to api
  src/berenice/ukbo/services/distributor.py
Labels: backend

Add count
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/components/tables/distributor-previous-table.tsx
  src/sophronia/interfaces/Distributor.ts
Labels: frontend

Change api order
  src/berenice/ukbo/services/distributor.py
Labels: backend

Add initial service query
  src/berenice/ukbo/services/country.py
Labels: backend

Add api endpoint
  src/berenice/ukbo/api/country.py
Labels: backend

Undo model change
  src/berenice/ukbo/models/Film.py
Labels: backend

Add type + fetch
  src/sophronia/interfaces/BoxOffice.ts
  src/sophronia/interfaces/Country.ts
  src/sophronia/interfaces/Distributor.ts
  src/sophronia/lib/fetch/countries.ts
Labels: frontend

Rename components
  src/sophronia/components/charts/previous-chart.tsx
  src/sophronia/components/tables/previous-table.tsx
Labels: frontend

Add country charts
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
Labels: frontend

Change api order
  src/berenice/ukbo/services/country.py
Labels: backend

Fix dashboard loading
  src/sophronia/app/loading.tsx
Labels: frontend

Fix time loading
  src/sophronia/app/(pages)/time/time.tsx
Labels: frontend

Add queryfilter classes
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Api filter changes
  src/berenice/ukbo/api/boxoffice.py
Labels: backend

Add query filters
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Add filtering multiple countries
  src/berenice/ukbo/api/boxoffice.py
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Update test
  src/berenice/tests/services/test_boxoffice_service.py
Labels: backend

Update fetch infinite
  src/sophronia/lib/fetch/boxoffice.ts
Labels: frontend

Fix date controls
  src/sophronia/components/controls.tsx
  src/sophronia/components/date-range-picker.tsx
Labels: frontend

Add graphs to distributor
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
Labels: frontend

Add to countries
  src/sophronia/app/(pages)/country/[slug]/page.tsx
Labels: frontend

Fix type
  src/sophronia/interfaces/Country.ts
Labels: frontend

Update controls
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/components/controls.tsx
Labels: frontend

Fix heights
  src/sophronia/app/(pages)/country/[slug]/page.tsx
  src/sophronia/app/(pages)/distributor/[slug]/page.tsx
  src/sophronia/app/page.tsx
  src/sophronia/components/tables/base-table.tsx
  src/sophronia/components/tables/top-films-table.tsx
Labels: frontend

Fix loading skeleton
  src/sophronia/app/loading.tsx
Labels: frontend

Move filter services
  src/berenice/ukbo/services/filters.py
Labels: backend

Implement box office filter
  src/berenice/ukbo/api/boxoffice.py
  src/berenice/ukbo/services/boxoffice.py
Labels: backend

Implement search filtering
  src/berenice/ukbo/api/search.py
  src/berenice/ukbo/services/__init__.py
  src/berenice/ukbo/services/film.py
  src/berenice/ukbo/services/filters.py
Labels: backend

Add pagination
  src/berenice/ukbo/api/search.py
  src/berenice/ukbo/services/film.py
Labels: backend

Fix films search nesting
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Add frontend filters mvp
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add facets distributors mvp
  src/berenice/tests/services/test_film_service.py
  src/berenice/ukbo/api/film.py
  src/berenice/ukbo/services/film.py
Labels: backend

MVP of filter distributors
  src/berenice/ukbo/services/film.py
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend, backend

Add filter buttons
  src/sophronia/app/(pages)/search/page.tsx
  src/sophronia/components/search-filters.tsx
Labels: frontend

Add state persistance
  src/sophronia/components/search-filters.tsx
  src/sophronia/lib/fetch/search.ts
Labels: frontend

Update search metadata
  src/berenice/ukbo/services/film.py
Labels: backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
