Repository AndyRae/uk-box-office, changes with the labels that .github/labeler.yml gives for each.
All labels: maintenance, migrations, frontend, backend

Update deployment job.
  .github/workflows/main.yml
Labels: none

Remove legacy code.
  docker-compose.ci.yml
  docker-compose.prod.yml
  src/nginx/Dockerfile
  src/nginx/conf/nginx.conf
Labels: maintenance

Remove npm
  .eslintrc.json
  .husky/pre-commit
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/berenice/ukbo/sitemap.py
  src/sophronia/package-lock.json
  src/sophronia/package.json
Labels: maintenance, frontend, backend

Fix sitemaps
  src/berenice/ukbo/sitemap/sitemapindex.xml
Labels: backend

Fix
  .github/workflows/main.yml
Labels: none

Add api 200 page
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/api/__init__.py
  src/berenice/ukbo/api/root.py
Labels: backend

Add beta workflow
  .github/workflows/beta.yml
  src/berenice/ukbo/__init__.py
Labels: backend

Add fix
  src/sophronia/src/components/ui/InlineLink.jsx
Labels: frontend

Change navbar color
  src/sophronia/src/components/ui/Sidebar.jsx
Labels: frontend

Remove api copy
  readme.md
  src/sophronia/src/components/ui/Footer.jsx
  src/sophronia/src/pages/Flat/Api.jsx
Labels: maintenance, frontend

Edit copy
  src/sophronia/src/pages/Flat/OpenData.jsx
Labels: frontend

Update readme
  readme.md
Labels: maintenance

Update readme
  readme.md
Labels: maintenance

Remove route
  src/sophronia/src/Routes.jsx
Labels: frontend

Add build job
  .github/workflows/build.yml
Labels: none

Change trigger
  .github/workflows/build.yml
Labels: none

Fix maximum scale
  src/sophronia/public/index.html
Labels: frontend

Reduce timer
  src/berenice/ukbo/etl/extract.py
  src/berenice/ukbo/etl/tasks.py
Labels: backend

Add the config
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/settings.py
Labels: backend

Initial codespaces running
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  readme.md
  src/berenice/ukbo/api/root.py
Labels: maintenance, backend

Working requirements.txt
  .devcontainer/Dockerfile
Labels: none

Update docs
  readme.md
Labels: maintenance

Add Flask on startup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

Make UX smoother
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/flask.Dockerfile
  readme.md
Labels: maintenance

Add ssh
  .devcontainer/devcontainer.json
Labels: none

Add exception catches
  src/berenice/ukbo/services/utils.py
Labels: backend

Add 404 page
  src/sophronia/package-lock.json
  src/sophronia/src/Routes.jsx
  src/sophronia/src/pages/Flat/NotFound.jsx
Labels: frontend

Networking
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  src/berenice/Dockerfile
Labels: backend

Working backend workflow
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-codespace.yml
  .devcontainer/flask.Dockerfile
Labels: none

Update Readme
  readme.md
Labels: maintenance

Add initial react
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-codespace.yml
  .devcontainer/react.Dockerfile
  src/berenice/Dockerfile
Labels: backend

Fix
  .devcontainer/devcontainer.json
  .devcontainer/react.Dockerfile
Labels: none

Build fixes
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-codespace.yml
Labels: none

Built frontend
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-codespace.yml
  .devcontainer/react.Dockerfile
Labels: none

Passing variables
  .devcontainer/devcontainer.json
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
Labels: frontend

Working env variables in React
  .devcontainer/devcontainer.json
  .devcontainer/flask.Dockerfile
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
Labels: frontend

Fully working
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/settings.py
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
Labels: frontend, backend

Update getBackendURL
  .devcontainer/devcontainer.json
  readme.md
  src/sophronia/src/api/ApiFetcher.jsx
  src/sophronia/src/api/boxoffice.js
  src/sophronia/src/pages/Flat/OpenData.jsx
Labels: maintenance, frontend

Update Flask CORS for Codespaces
  src/berenice/ukbo/__init__.py
  src/berenice/ukbo/settings.py
Labels: backend

Update readme
  readme.md
  src/berenice/ukbo/api/root.py
Labels: maintenance, backend

.github/labeler.yml:

maintenance:
  - '*'

migrations:
  - 'src/berenice/migrations/**/*'

frontend:
  - 'src/sophronia/**/*'

backend:
  - 'src/berenice/**/*'
